<!-- Rules always visible -->
<div id="dynamic-gradient" class="container-fluid">
  <div class="row">
    <header class="col-xs-12">
        <h1>Sketch Phrase!</h1>
    </header>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="col-xs-offset-1 col-xs-11"><h3>How to play:</h3>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
        <li>Step 5</li>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
      </ul>
    </div>
  </div>

<!-- CH if current_user CH  Welcome, CH EQ current_user.name CH! -->
<!-- SIGNED IN VERSION, once logged in this section appears -->
<!-- Note: Only works for Yin in developer mode, so this is commented out for now -->


  <div class="row">
    <div class="fixed-bottom col-xs-12">
      <div class="col-xs-12">
        <%= form_tag games_path, method: "post" do %>
<!--         <span id="playersCount">5</span>
                <span>Players</span> -->
        <button type="button" class="btn" id="morePlayers">
          <span class="glyphicon glyphicon-plus"></span>
        </button><br>
        <%= text_field_tag :players_count, 5, :readonly => true %>
        <%= label_tag "Players" %>
        <br>
        <button type="button" class="btn" id="lessPlayers">
          <span class="glyphicon glyphicon-minus"></span>
        </button><br>
      </div>
      <div class="col-xs-12">
          <%= submit_tag "START!", class: "button" %>
        <% end %>

        <%= link_to "Sign Out", logout_path, class: "button" %>
      </div>
    </div>
  </div>


<!--  CH else CH -->
<!-- NOT SIGNED IN, this button will appear -->

  <div class="col-xs-12">
  <%= link_to "Sign In To Start", "/auth/facebook", class: "login-button" %>
  </div>

 <!--  CH end CH -->
 <!-- ends logged in conditions -->
</div>
