<!-- Rules always visible -->
<div id="dynamic-gradient" class="container-fluid">
  <div class="row">
    <header class="col-xs-12">
        <h1>Sketch Phrase!</h1>
    </header>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="col-xs-offset-1 col-xs-11"><h3>How to play:</h3>
        <li><h4>- 1st person writes a phrase</h4></li>
        <li><h4>- 2nd person sketches that phrase</h4></li>
        <li><h4>- 3rd person phrases 2nd person's sketch</h4></li>
        <li><h4>- continue at infinitum</h4></li>
        <li><h4>- last person goes</h4></li>
        <li><h4>- everybody wins</h4></li>
      </ul>
    </div>
  </div>

<!-- CH if current_user CH  Welcome, CH EQ current_user.name CH! -->
<!-- SIGNED IN VERSION, once logged in this section appears -->
<!-- Note: Only works for Yin in developer mode, so this is commented out for now -->


  <div class="row">
    <div class="fixed-bottom col-xs-12">
      <div class="col-xs-offset-2 col-xs-8">
        <%= form_tag games_path, method: "post" do %>
<!--         <span id="playersCount">5</span>
                <span>Players</span> -->
        <button type="button" class="plus-minus" id="morePlayers">
          <span>+</span>
        </button>
        <h3><%= text_field_tag :players_count, 5, :readonly => true %>
        <%= label_tag :players_count, "Players" %></h3>
        <button type="button" class="plus-minus" id="lessPlayers">
          <span>-</span>
        </button>
      </div>
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
          <%= submit_tag "START", class: "button" %>
        <% end %>

        <%= link_to "SIGN OUT", logout_path, class: "button" %>
      </div>
    </div>
  </div>

<!--  CH else CH -->
<!-- NOT SIGNED IN, this button will appear -->

<!--   <div class="fixed-bottom col-xs-12">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
      <%= link_to "Sign In To Start", "/auth/facebook", class: "button" %>
    </div>
  </div> -->

 <!--  CH end CH -->
 <!-- ends logged in conditions -->
</div>
